In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.2 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 4.2/4.2 MB 9.8 MB/s eta 0:00:00:00:010:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [10]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

def test_postgres_connection():
    try:
        # –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ PostgreSQL
        connection = psycopg2.connect(
            host='postgres-db',  # –∏–ª–∏ 'host.docker.internal'
            port=5432,
            database='postgres',
            user='airflow',
            password='airflow'
        )
        print("‚úÖ –£—Å–ø–µ—à–Ω–æ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL!")
        
        # –°–æ–∑–¥–∞–µ–º –∫—É—Ä—Å–æ—Ä
        cursor = connection.cursor()
        
        # –í—ã–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ—Å—Ç–æ–π –∑–∞–ø—Ä–æ—Å
        cursor.execute("SELECT version();")
        version = cursor.fetchone()
        print(f"üìä –í–µ—Ä—Å–∏—è PostgreSQL: {version[0]}")
        
        # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ —Ç–∞–±–ª–∏—Ü
        cursor.execute("""
            SELECT table_name 
            FROM information_schema.tables 
            WHERE table_schema = 'public'
            ORDER BY table_name;
        """)
        
        tables = cursor.fetchall()
        print("üìã –¢–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö:")
        for table in tables:
            print(f"   - {table[0]}")
        
        # –ï—Å–ª–∏ –µ—Å—Ç—å —Ç–∞–±–ª–∏—Ü—ã, —á–∏—Ç–∞–µ–º –ø–µ—Ä–≤—É—é –≤ DataFrame
        if tables:
            first_table = tables[0][0]
            print(f"\nüéØ –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã: {first_table}")
            
            # –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –≤ DataFrame
            df = pd.read_sql(f"SELECT * FROM {first_table} LIMIT 5", connection)
            
            if not df.empty:
                print("‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ DataFrame!")
                print(f"üìê –†–∞–∑–º–µ—Ä DataFrame: {df.shape}")
                print("\nüìä –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏:")
                display(df.head())
            else:
                print("‚ÑπÔ∏è –¢–∞–±–ª–∏—Ü–∞ –ø—É—Å—Ç–∞—è")
        else:
            print("‚ÑπÔ∏è –í –±–∞–∑–µ –Ω–µ—Ç —Ç–∞–±–ª–∏—Ü –≤ —Å—Ö–µ–º–µ 'public'")
            
        # –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
        cursor.close()
        connection.close()
        print("\nüîí –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–∫—Ä—ã—Ç–æ")
        
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞: {e}")

# –ó–∞–ø—É—Å–∫–∞–µ–º –ø—Ä–æ–≤–µ—Ä–∫—É
test_postgres_connection()

‚úÖ –£—Å–ø–µ—à–Ω–æ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL!
üìä –í–µ—Ä—Å–∏—è PostgreSQL: PostgreSQL 13.22 (Debian 13.22-1.pgdg13+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 14.2.0-19) 14.2.0, 64-bit
üìã –¢–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö:
   - –∫–∞–∫–æ–π_–∫–∞–π—Ñ

üéØ –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã: –∫–∞–∫–æ–π_–∫–∞–π—Ñ
‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ DataFrame!
üìê –†–∞–∑–º–µ—Ä DataFrame: (5, 4)

üìä –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏:

/tmp/ipykernel_1987/3095034926.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {first_table} LIMIT 5", connection)

   id       –∫–∞–π—Ñ  —É—Ä–æ–≤–µ–Ω—å_–∫–∞–π—Ñ–∞      –æ–ø–∏—Å–∞–Ω–∏–µ_–∫–∞—Ñ–∞
0   1  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
1   2       –ø–∏–≤–æ              5     –ü–∞—É–ª–∞–π–Ω–µ—Ä –ø–∏—Ç—å
2   3  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
3   4       –ø–∏–≤–æ              5     –ü–∞—É–ª–∞–π–Ω–µ—Ä –ø–∏—Ç—å
4   5  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º

üîí –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–∫—Ä—ã—Ç–æ

In [9]:
import pandas as pd
from sqlalchemy import create_engine, text

def test_with_sqlalchemy():
    try:
        # –°–æ–∑–¥–∞–µ–º engine
        engine = create_engine('postgresql+psycopg2://airflow:airflow@postgres-db:5432/postgres')
        
        # –ü—Ä–æ–≤–µ—Ä—è–µ–º –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ (–ò–°–ü–†–ê–í–õ–ï–ù–û - –¥–æ–±–∞–≤–∏–ª–∏ text())
        with engine.connect() as conn:
            result = conn.execute(text("SELECT version()"))
            print(f"‚úÖ –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —É—Å–ø–µ—à–Ω–æ: {result.fetchone()[0]}")
        
        # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ —Ç–∞–±–ª–∏—Ü (–¥–ª—è pandas.read_sql text() –Ω–µ –Ω—É–∂–µ–Ω)
        tables_df = pd.read_sql("""
            SELECT table_name 
            FROM information_schema.tables 
            WHERE table_schema = 'public'
        """, engine)
        
        print(f"üìã –ù–∞–π–¥–µ–Ω–æ —Ç–∞–±–ª–∏—Ü: {len(tables_df)}")
        
        if not tables_df.empty:
            # –ß–∏—Ç–∞–µ–º –ø–µ—Ä–≤—É—é —Ç–∞–±–ª–∏—Ü—É
            first_table = tables_df.iloc[0]['table_name']
            print(f"üéØ –ß–∏—Ç–∞–µ–º —Ç–∞–±–ª–∏—Ü—É: {first_table}")
            
            # –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ
            df = pd.read_sql(f"SELECT * FROM {first_table} LIMIT 10", engine)
            
            print(f"‚úÖ –î–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã! –†–∞–∑–º–µ—Ä: {df.shape}")
            print("\nüìä –°–æ–¥–µ—Ä–∂–∏–º–æ–µ:")
            display(df)
            
            return df
        else:
            print("‚ÑπÔ∏è –¢–∞–±–ª–∏—Ü –Ω–µ –Ω–∞–π–¥–µ–Ω–æ")
            return None
            
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞: {e}")
        return None

# –ó–∞–ø—É—Å–∫–∞–µ–º
df_result = test_with_sqlalchemy()

‚úÖ –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ —É—Å–ø–µ—à–Ω–æ: PostgreSQL 13.22 (Debian 13.22-1.pgdg13+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 14.2.0-19) 14.2.0, 64-bit
üìã –ù–∞–π–¥–µ–Ω–æ —Ç–∞–±–ª–∏—Ü: 1
üéØ –ß–∏—Ç–∞–µ–º —Ç–∞–±–ª–∏—Ü—É: –∫–∞–∫–æ–π_–∫–∞–π—Ñ
‚úÖ –î–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∂–µ–Ω—ã! –†–∞–∑–º–µ—Ä: (8, 4)

üìä –°–æ–¥–µ—Ä–∂–∏–º–æ–µ:

   id       –∫–∞–π—Ñ  —É—Ä–æ–≤–µ–Ω—å_–∫–∞–π—Ñ–∞      –æ–ø–∏—Å–∞–Ω–∏–µ_–∫–∞—Ñ–∞
0   1  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
1   2       –ø–∏–≤–æ              5     –ü–∞—É–ª–∞–π–Ω–µ—Ä –ø–∏—Ç—å
2   3  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
3   4       –ø–∏–≤–æ              5     –ü–∞—É–ª–∞–π–Ω–µ—Ä –ø–∏—Ç—å
4   5  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
5   6       –ø–∏–≤–æ              5              –ì–∏–Ω–µ—Å
6   7       –ø–∏–≤–æ              1            –ë–∞–ª—Ç–∏–∫–∞
7   8       –ø–∏–≤–æ              5          –ü–∞—É–ª–∞–π–Ω–µ—Ä