In [7]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\program files\python\python313\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -------------- ------------------------- 0.8/2.1 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 13.5 MB/s  0:00:00
Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl (299 kB)
Installing collected packages: greenlet, sqlalchemy

   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.2.4 sqlalchemy-2.0.44
Note: you may need to restart the kernel to use updated packages.

In [8]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

def test_postgres_connection():
    try:
        # –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ PostgreSQL
        connection = psycopg2.connect(
            host='host.docker.internal',  # –∏–ª–∏ 'host.docker.internal'
            port=5432,
            database='postgres',
            user='airflow',
            password='airflow'
        )
        print("‚úÖ –£—Å–ø–µ—à–Ω–æ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL!")

        # –°–æ–∑–¥–∞–µ–º –∫—É—Ä—Å–æ—Ä
        cursor = connection.cursor()

        # –í—ã–ø–æ–ª–Ω—è–µ–º –ø—Ä–æ—Å—Ç–æ–π –∑–∞–ø—Ä–æ—Å
        cursor.execute("SELECT version();")
        version = cursor.fetchone()
        print(f"üìä –í–µ—Ä—Å–∏—è PostgreSQL: {version[0]}")

        # –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ —Ç–∞–±–ª–∏—Ü
        cursor.execute("""
            SELECT table_name
            FROM information_schema.tables
            WHERE table_schema = 'public'
            ORDER BY table_name;
        """)

        tables = cursor.fetchall()
        print("üìã –¢–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö:")
        for table in tables:
            print(f"   - {table[0]}")

        # –ï—Å–ª–∏ –µ—Å—Ç—å —Ç–∞–±–ª–∏—Ü—ã, —á–∏—Ç–∞–µ–º –ø–µ—Ä–≤—É—é –≤ DataFrame
        if tables:
            first_table = tables[0][0]
            print(f"\nüéØ –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã: {first_table}")

            # –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –≤ DataFrame
            df = pd.read_sql(f"SELECT * FROM {first_table} LIMIT 5", connection)

            if not df.empty:
                print("‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ DataFrame!")
                print(f"üìê –†–∞–∑–º–µ—Ä DataFrame: {df.shape}")
                print("\nüìä –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏:")
                display(df.head())
            else:
                print("‚ÑπÔ∏è –¢–∞–±–ª–∏—Ü–∞ –ø—É—Å—Ç–∞—è")
        else:
            print("‚ÑπÔ∏è –í –±–∞–∑–µ –Ω–µ—Ç —Ç–∞–±–ª–∏—Ü –≤ —Å—Ö–µ–º–µ 'public'")

        # –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
        cursor.close()
        connection.close()
        print("\nüîí –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–∫—Ä—ã—Ç–æ")

    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞: {e}")

# –ó–∞–ø—É—Å–∫–∞–µ–º –ø—Ä–æ–≤–µ—Ä–∫—É
test_postgres_connection()

‚úÖ –£—Å–ø–µ—à–Ω–æ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ PostgreSQL!
üìä –í–µ—Ä—Å–∏—è PostgreSQL: PostgreSQL 13.22 (Debian 13.22-1.pgdg13+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 14.2.0-19) 14.2.0, 64-bit
üìã –¢–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö:
   - –∫–∞–∫–æ–π_–∫–∞–π—Ñ

üéØ –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã: –∫–∞–∫–æ–π_–∫–∞–π—Ñ
‚úÖ –î–∞–Ω–Ω—ã–µ —É—Å–ø–µ—à–Ω–æ –∑–∞–≥—Ä—É–∂–µ–Ω—ã –≤ DataFrame!
üìê –†–∞–∑–º–µ—Ä DataFrame: (5, 4)

üìä –ü–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏:

C:\Users\mustd\AppData\Local\Temp\ipykernel_28008\1074346173.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {first_table} LIMIT 5", connection)

   id       –∫–∞–π—Ñ  —É—Ä–æ–≤–µ–Ω—å_–∫–∞–π—Ñ–∞      –æ–ø–∏—Å–∞–Ω–∏–µ_–∫–∞—Ñ–∞
0   1  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
1   2       –ø–∏–≤–æ              5     –ü–∞—É–ª–∞–π–Ω–µ—Ä –ø–∏—Ç—å
2   3  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º
3   4       –ø–∏–≤–æ              5     –ü–∞—É–ª–∞–π–Ω–µ—Ä –ø–∏—Ç—å
4   5  –∫–æ–º–ø—å—é—Ç–µ—Ä              5  –∫–æ–º–ø–∏–∫ –∏–≥—Ä–∞—Ç—å –º–º–º

üîí –°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∑–∞–∫—Ä—ã—Ç–æ